body {
  background-color:#F2F2F2;
}

.box-container {
  display: flex;
  gap: 5px;
  margin: 25px 150px 0 150px;
}

.box-left {
  border: 1px solid #F2F2F2;
  flex: 1;
  min-height: 250px;
}

.box-right {
  border: 1px solid #F2F2F2;
  flex: 2;
  background-color: #ffffff;
}

.title {
  color: #607C80;
}

.news-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0;
  margin: 25px 150px 25px 150px;
}

.list-item {
  border: 1px #F2F2F2 solid;
  flex: calc(25% - 30px);
  box-sizing: border-box;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #F8DA1B;
  padding: 20px;
}

.links-list {
  list-style-type: none;
  display: flex;
  font-size: 1.2em;
  margin: 0;
}

.link-item:last-child {
  padding: 0;
}

.site-name {
  display: flex;
  font-size: 1.3em;
}

.link-item {
  padding: 0 35px;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.footer {
  background-color: #F8DA1B;
  padding: 60px;
}

.responsive-image {
  height: auto;
  width: 100%;
  display: block;
}

/* Tablets and under */
@media(max-width: 768px) {

  .links-list {
    justify-content: space-around;
  }

  .site-name {
    justify-content: center;
  }

  .list-items {
    list-style-type: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex: calc(50% - 30px);
  }

}
  
/* Mobile */
@media(max-width: 500px) {

  .box-container {
    display: flex;
    flex-direction: column;
  }

  .box-left {
    width: 100%;
  }

  .link-item {
    display: none;
  }

  .site-name {
    justify-content: center;
  }

  .list-item {
   width: 75%;
   text-align: center;
   flex: calc(100% - 30px);
  }
}