html {
  height: 100%;
} 

body {
  background-color:#F2F2F2;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-news-container {
  display: flex;
  gap: 5px;
  margin-top: 15px;
  box-shadow: 0 0 2px 3px #EBEBEB ;
}

.main-news-image {
  border: 1px solid #F2F2F2;
  flex: 1;
  margin-right: -12px;
  padding: 5px;
  background-color: #ffffff;
}

.main-news-text {
  border: 1px solid #F2F2F2;
  flex: 2;
  background-color: #ffffff;
}

.first-title {
  color: #607C80;
  padding-left: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.second-title {
  padding-left: 8px;
  margin-top: -5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.news-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0;
}

.list-item {
  border: 1px #F2F2F2 solid;
  flex: calc(25% - 30px);
  box-sizing: border-box;
  background-color: #ffffff;
  font-weight: bold;
  padding: 5px;
  box-shadow: 0 0 2px 3px #EBEBEB;
}

.site-header-container {
  background-color: #F8DA1B;
  padding: 20px;
}

.links-list {
  list-style-type: none;
  display: flex;
  font-size: 1.2em;
  margin: 0;
  color: #6B5B05;
}

.link-item:last-child {
  padding: 0;
}

.site-name {
  display: flex;
  font-size: 1.8rem;
}

.link-item {
  padding: 0 15px;
  font-size: 1rem;
}

.site-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #F8DA1B;
  padding: 60px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.responsive-image {
  height: auto;
  width: 100%;
  display: block;
}

 .text {
  padding-left: 8px;
  margin-top: -5px;
  font-weight: bold;
}

.list-items-title {
  padding-left: 15px;
  text-align: left;
}

.information {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

a:hover {
  color:#607C80;
  background-color: #F2F2F2;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.content {
  flex: 1 0 auto;
}

/* Tablets and under */
@media(max-width: 768px) {

  .links-list {
    justify-content: space-around;
  }

  .site-name {
    justify-content: center;
  }

  .list-items {
    list-style-type: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex: calc(50% - 30px);
  }

  .main-news-container {
    flex-direction: column;
  }

}
  
/* Mobile */
@media(max-width: 500px) {

  .main-news-image {
    width: 100%;
  }

  .link-item {
    display: none;
  }

  .site-name {
    justify-content: center;
  }

  .list-item {
   width: 75%;
   text-align: center;
   flex: calc(100% - 30px);
  }
}