.box-container {
  display: flex;
  flex: 1;
  gap: 5px;
  margin: 25px;
}

.box-left {
  border: 1px solid #000000;
  flex: 1;
  min-height: 250px;
}

.box-right {
  border: 1px solid #000000;
  flex: 2;
  text-align: center;
  padding-top: 100px;
}

.news-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0 0;
}

.list-item {
  border: 1px #000000 solid;
  padding: 35px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-list {
  list-style-type: none;
  display: flex;
  font-size: large;
  margin: 0;
}

.site-name {
  display: flex;
  justify-content: start;
  font-size: large;
  margin-left: 35px;
}

.link-item {
  padding: 0 35px;
}

/* Tablets and under */
@media(max-width: 768px) {

  .links-list {
    justify-content: space-around;
    flex-direction: row;
  }

  .site-name {
    justify-content: center;
    font-size: medium;
    margin-right: 120px;
  }

  .list-items {
    list-style-type: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
  
/* Mobile */
@media(max-width: 500px) {

  .box-container {
    display: flex;
    flex-direction: column;
  }

  .box-left {
    width: 100%;
  }

  .link-item {
    display: none;
  }

  .site-name {
    justify-content: center;
  }

  .list-item {
    border: 1px #000000 solid;
    padding: 35px;
  }
}